<div class="nested-fields" style="padding-bottom: 10px;">
  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, [
      'Best Educational Initiative',
      'Best Design'], :required => true %>
  </div>
  <div class="field">
    <br>
    <%= f.label :asset, "File to submit"%>
    <%= f.file_field :asset, :required => true %>
  </div>
  <%= link_to_remove_association "Remove file", f %>
</div>
