<%= form_for @team do |f| %>
  <h1>Send us prize submissions</h1>
  <h4>You have submitted <strong><%= @team.attached_assets.count %></strong> files.</h4>
  <div id="attached_assets"> 
    <%= f.fields_for :attached_assets, AttachedAsset.new do |asset| %>
      <%= render 'attached_asset_fields', :f => asset %>
      <div class="links">
        <%= link_to_add_association 'Add Another File', f, :attached_assets %>
      </div>
    <% end %>
  </div>
  <%= f.submit 'Upload Files'%>
<% end %>