<% title "Teams Admin" %>
<div class="primary section">
  <h1>Teams Admin</h1>
  <table>
    <tr>
      <th>Team Name</th>
      <th>Team Location</th>
      <th>Team Members</th>
      <th>Team Organization</th>
      <th>Team Created At</th>
      <th>Team Ages</th>
      <th>Buddies</th>
    </tr>
    <% @teams.each do |team| %>
    <tr>
      <td><%=link_to team.name, team %></td>
      <td><%=team.city %>, <%= Carmen::Country.coded(team.country_code).name %>, <%= team.state_code %></td>
      <td>
        <ul>
          <% team.users.each do |member| %>
          <li>
            <%= member.first_name %> <%=member.last_name %>- <a href="mailto: <%=member.email %>"><%=member.email%></a>
          </li>
          <%end%>
        </ul>
      </td>
      <td><%= team.school %></td>
      <td><%= team.created_at %></td>
      <td>
        0-10: <%= team.ages_0_10 %> <br/>
        11-17: <%= team.ages_11_17 %> <br/>
        18-26: <%= team.ages_18_26 %> <br>
        27-50: <%= team.ages_27_50 %> <br>
        50 +: <%= team.ages_50_up %> 
      </td>
      <td>
        Host Payload: <%= team.host_payload %> <br>
        Have Payload: <%= team.have_payload %> <br>
        Mentor: <%= team.buddies_mentor %> <br>
        Mentee: <%= team.buddies_mentee %> 
      </td>

    </tr>
    <% end %>
  </table>
</div>
<style>
  table {
    width: 95%;
    border-spacing: 0;

  }

  td {
    border: 1px solid black;
    text-align: center;
  }

  td ul {
    text-align: left;
  }

</style>