<% title "Teams Admin" %>
<div class="primary section">
  <h1>Teams Admin</h1>
  <%= link_to "Download User data as CSV", teams_admin_path(format: "csv") %> 
  <h2>Team Uploads</h2>
    <table>
    <tr>
      <th>Team Name</th>
      <th>Team Files</th>
    </tr>
    <% @teams.each do |team| %>
    <% if team.attached_assets.length > 0 %>
    <tr>
      <td><%=link_to team.name, team %></td>
      <td>
        <ul>
          <% team.attached_assets.each do |asset| %>
            <li><%= link_to asset.asset_file_name, asset.asset.url, html_options = {download: ''} %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
    <% end %>
  </table>

  <h2>Team Info</h2>
  <table>
    <tr>
      <th>Team Name</th>
      <th>Team Location</th>
      <th>Team Members</th>
      <th>Team Organization</th>
      <th>Team Created At</th>
      <th>Team Ages</th>
      <th>Buddies</th>
    </tr>
    <% @teams.each do |team| %>
    <tr>
      <td><%=link_to team.name, team %></td>
      <td><%=team.city %>, <%= Carmen::Country.coded(team.country_code).name %>, <%= team.state_code %></td>
      <td>
        <ul>
          Number of Members: <%= team.users.count %>
          <% team.users.each do |member| %>
          <li>
            <%= member.first_name %> <%=member.last_name %>- <a href="mailto: <%=member.email %>"><%=member.email%></a>
          </li>
          <%end%>
        </ul>
      </td>
      <td><%= team.school %></td>
      <td><%= team.created_at %></td>
      <td>
      <% if team.ages_0_10 %>
        0-10  <br/>
      <% end %>
      <% if team.ages_11_17 %> 
        11-17 <br/>
      <% end %>
      <% if team.ages_18_26 %>
        18-26 <br/>
      <% end %>
      <% if team.ages_27_50 %> 
        27-50 <br>
      <% end %>
      <% if team.ages_50_up %>
        50 +
      <% end %>
      </td>
      <td>
      <% if team.host_payload %>
        Host Payload  <br>
      <% end %>
      <% if team.have_payload %>
        Have Payload <br>
      <% end %>
      <% if team.buddies_mentor %> 
        Mentor <br>
      <% end %>
      <% if team.buddies_mentee %>
        Mentee 
      <% end %>
      </td>

    </tr>
    <% end %>
  </table>
</div>
<style>
  table {
    width: 95%;
    border-spacing: 0;

  }

  td {
    border: 1px solid black;
    text-align: center;
  }

  td ul {
    text-align: left;
  }
  li a {
    display: block;
    padding-bottom: 5px;
  }
  li a:hover {
    border-bottom: none;
  }

</style>