<% title "Edit #{@team.name}"%> 
<div class="primary section">
<h1 class="underline">Edit your team</h1>
<div class="content">
<%= form_for(@team) do |f| %>
  <label for="name">Team Name</label>
  <%= f.text_field :name, placeholder: "Team name", required: "required"%>

  <label for="school">School</label>
  <%= f.text_field :school, placeholder: "Example: University of California, Berkeley or Stanford University", required: "required" %>
  
  <label for="location">Location</label>
  <%= f.text_field :location, placeholder: "Example: Paris, France or Austin, TX", maxlength: 50, required: "required" %>

  <label for="description">Team Description</label>
  <%= f.text_area :description, placeholder: "Where you're from, what your goals are, etc.", maxlength: 500, required: "required" %>
  <div>
  <%= f.submit "Update team" %>
  </div>
<% end %>

</div>
</div>
