<% title @team.name %>
<% content_for :head_content do %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  <%= javascript_include_tag "datepicker"%>
<% end %>
<div class="primary section">
  <div class="underline">
    <div style="font-weight: bolder"><%=@team.name%></div>
    <div style="font-size: .7em"><% if @team.school != "" %><%=@team.school%> - <% end %><%=@team.city %>, <%= Carmen::Country.coded(@team.country_code).name %></div>
    <% if @team.users.include?(current_user) %>
    <a href="http://community.balloonchallenge.org" class="btn inline" style="font-size: .33em;">Join the forum</a>

    <%=link_to 'Rules', get_involved_path, class: 'btn inline', style: 'font-size: .33em;'%>
    <%= link_to 'Tutorials', tutorials_path, class: 'btn inline', style: 'font-size: .33em;' %>
    <% end %>
  </div>
  <div class="content">
  <% if @team.team_img.url != "/default.jpg" %>
    <%= image_tag @team.team_img.url, class: "team-img" %>
  <% end %>
  <div class="team_data">
    <div class="veteran">
      <%if @team.flew_2014? %><strong>Flew 2014  </strong><% end %>
      <% if @team.flew_2015? %><strong>Flew 2015</strong> <% end %>
    </div>
    <div class="team-description">
      <h3>Team Description</h3>
      <p><%=@team.description%></p>
    </div>
    <div class="plan">
      <h3>Plan for launch</h3>
      <p><%=@team.plan %></p>
    </div>
    <div class="why_join">
      <h3>Why did you join?</h3>
      <p><%=@team.why_join %></p>
    </div>
    <% if @team.url and @team.url != ""%>
    <div class="url">
      <p><strong>Team Website:</strong><a href="<%=@team.url %>" target="_blank"><%=@team.url %></a></p
      >
      <% if @team.launch_date and @team.launch_date != "" %>
      <p><strong>Team Launch Date: </strong><%= @team.launch_date %></p>
      <% end %>
    </div>
    <% end %>
  </div>
  <h3>Team Members</h3>
  <ul class="members_list">
  <% @team.users.each do |member| %>
    <li>
      <%= member.first_name %> <%= member.last_name %>
      <% if @team.users.include?(current_user)%>
        <% if member != current_user %>
         <%= link_to "Remove teammate", remove_member_path(member), method: :delete, data: {confirm: "Are you sure you want to remove #{member.first_name} from your team?"}, class: "right" %>
        <% elsif member == current_user and @team.users.length > 1 %>
          <%= link_to "Leave your team", remove_member_path(member), method: :delete, data: {confirm: "Are you sure you want to leave your team?"}, class: "right" %>
        <% end %>
      <% end %>
    </li>

  <% end %>
  </ul>
  <% if @team.users.include?(current_user) %>

    <%= form_tag(controller: 'teams', action: 'add_member', method: 'post') do %>
      <%= label_tag :email, class: "team_email" do%>
        Add team member: <br/> <small class="account_warn">They must have an account on the GSBC website</small>
      <% end %>
      <%= text_field_tag :email, nil, placeholder: "member@gmail.com", class: "email_field" %>
      <%= submit_tag 'Add', class: "email_field" %>
    <% end %>
    <% if @team.requests.length > 0 %>
      <h3>Users who have requested to join your team</h3>
      <ul class="requests">
      <% @team.requests.each do |request| %>
        <li class="request"><%= request.user_email %>
        <span class="request_buttons">
        <%= link_to "Add user to team", {action: "add_member", email: request.user_email}, {class: "btn inline small", method: :post} %>
        <%= link_to "Delete request", request, {action: "destroy", controller: "requests", method: :delete, class: "btn inline small"} %> </li>
        </span>
      <% end %>
      </ul>
    <% end %>
    <% if @team.launch_date and @team.launch_date != "" %>
      Your Launch Date: <%= @team.launch_date %> <small><%= link_to "Edit launch date", edit_team_path(@team) %></small>
    <% else %>
      <%= form_for @team do |f| %>
          <label for="launch_date">Launch Date</label>
          <%= f.text_field :launch_date, required: "required", maxlength: 20, style: 'max-width: 100px'%>
          <%= f.submit "Post" %>
      <% end %>
    <% end %>
    <!-- % unless @team.signed_up_2017? %>
      <div class="row">
        <%= form_for @team, html: {style: 'display: inline'} do |f| %>
          <%= f.hidden_field :signed_up_2017, value: true %>
          <%= f.submit "Sign up for GSBC 2017", class: "btn inline" %>
        <% end %>
      </div>
    <% else %>
      <%= render 'launch_file_form' %>
    <% end % -->
    <div class="row">
      <%= link_to "Edit team", edit_team_path(@team), class: "btn inline" %>
    </div>
  <% end %>
  <% if current_user and current_user.team.nil? and !@request_ids.include?(current_user.id) %>
    <%= form_for @request, :url => {:action => 'create', :controller => 'requests' }, :html => {:class=>'request_to_join_form', :method=>'POST'} do |f| %>
      <%= f.hidden_field :team_id, :value => @team.id %>
      <%= f.submit 'Request to join this team', class: "btn" %>
    <% end %>
  <% end %>
  <% if current_user and @request_ids and @request_ids.include?(current_user.id) %>
    <h4>You have requested to join this team, but they haven't responded yet.</h4>
  <% end %>
  </div>
</div>
