<div class="primary section">
<h1 class="underline"><%=@team.name%></h1>
<div class="content">
<h3><%=@team.description%></h3>
<ul>
<% @team.users.each do |member| %>
  <li>
    <%= member.name %>
    <% if @team.users.include?(current_user)%>
      <% if member != current_user %>
       <%= link_to "Remove teammate", remove_member_path(member), method: :delete, data: {confirm: "Are you sure you want to remove #{member.name} from your team?"}, class: "btn inline" %>
      <% elsif member == current_user %>
        <%= link_to "Leave your team", remove_member_path(member), method: :delete, data: {confirm: "Are you sure you want to leave your team? If you're the last member please delete your team instead."}, class: "btn inline" %>
      <% end %>
    <% end %>
  </li>

<% end %>
</ul>
<% if @team.users.include?(current_user) %>
  <%= link_to "Edit team", edit_team_path(@team) %>
  <%= form_tag(controller: 'teams', action: 'add_member', method: 'post') do %>
    <%= label_tag(:email, 'Team member email:') %>
    <%= text_field_tag(:email) %>
    <%= submit_tag('Add') %>
  <% end %>
<% end %>
</div>
</div>
