<% title @team.name %>
<div class="primary section">
  <div class="underline">
    <div style="font-weight: bolder"><%=@team.name%></div>
    <div style="font-size: .7em"><%=@team.school%> - <%=@team.location%></div>
    <a href="http://community.balloonchallenge.org" class="btn inline" style="font-size: .33em;">Join the forum</a>
    <%=link_to 'Rules', get_involved_path, class: 'btn inline', style: 'font-size: .33em;'%>
    <%= link_to 'Tutorials', tutorials_path, class: 'btn inline', style: 'font-size: .33em;' %>
  </div>
  <div class="content">
  <div class="team-description">
    <h3>Team Description</h3>
    <%=@team.description%>
  </div>
  <h3>Team Members</h3>
  <ul class="members_list">
  <% @team.users.each do |member| %>
    <li>
      <%= member.name %>
      <% if @team.users.include?(current_user)%>
        <% if member != current_user %>
         <%= link_to "Remove teammate", remove_member_path(member), method: :delete, data: {confirm: "Are you sure you want to remove #{member.name} from your team?"}, class: "right" %>
        <% elsif member == current_user and @team.users.length > 1 %>
          <%= link_to "Leave your team", remove_member_path(member), method: :delete, data: {confirm: "Are you sure you want to leave your team?"}, class: "right" %>
        <% end %>
      <% end %>
    </li>

  <% end %>
  </ul>
  <% if @team.users.include?(current_user) %>
    
    <%= form_tag(controller: 'teams', action: 'add_member', method: 'post') do %>
      <%= label_tag :email, class: "team_email" do%>
        Add team member: <br/> <small>They must have an account</small>
      <% end %>
      <%= text_field_tag :email, nil, placeholder: "member@gmail.com", class: "email_field" %>
      <%= submit_tag('Add') %>
    <% end %>
    <div class="edit_btn">
      <%= link_to "Edit team", edit_team_path(@team), class: "btn noShadow small" %>
    </div>
  <% end %>
  </div>
</div>
