<% title "Home" %>
<div class="hero section cta">
    <h1>Global Space Balloon Challenge</h1>
    <div class="left">
        <div class="embed-container">
            <iframe src='https://www.youtube.com/embed/TG_3I4k2iKU' frameborder='0' allowfullscreen></iframe>
        </div>
    </div>
    <div class="right">
        <h3>The high altitude balloon event for everyone, everywhere, together.</h3>
        <% if !current_user %>
            <a href="/sign_up" class="btn full">Sign Up</a>
            <br><div class="">Learn More:</div>
            <%= link_to "I've flown a High-Altitude Balloon", learn_more_path, class: 'btn callToAction' %>
            <%= link_to "What is a High-Altitude Balloon?", learn_more_beginner_path, class: 'btn callToAction' %>
        <% elsif current_user and current_user.team.nil? %>
            <%= link_to "View teams", teams_path, class: 'btn callToAction' %>
            <%= link_to "Create a team", new_team_path, class: 'btn callToAction dontSquish' %>
        <% elsif current_user and !current_user.team.nil? %>
            <a href="http://community.balloonchallenge.org" class="btn callToAction">Community</a>
            <%= link_to "Tutorials", tutorials_path, class: 'btn callToAction'%>
        <% end %>

    </div>
</div>

<div class="affiliates primary section extraSpace">
    <h3 class="counter">There are <%=@teams.length%> teams registered in <%=@country_count%> countries. <a href="/sign_up">Join</a> them!</h3>
    <div class="inlineContainer">
        <img src="/sponsors/stanford.png">
        <img src="/sponsors/michigan.gif">
        <img src="/sponsors/mit.png">
        <a href="https://www.highaltitudescience.com">
          <img src="/sponsors/has.jpg">
        </a>
        <a href="https://www.stratoflights.com">
          <img src="/sponsors/stratoflights2.jpg">     
        </a>
        <a href="https://www.stratogear.com/">
          <img src="/sponsors/stratogear.png">     
        </a>
        <a href="https://www.kaymont.com">
          <img src="/sponsors/kaymont.png" height="40" align="middle">     
        </a>
    </div>
</div>
