<% title "Home" %>
<div class="hero section cta">
    <div class="left">
        <div class="embed-container">
            <img src="http://placehold.it/1280x720/&text=Video+Here">
        </div>
    </div>
    <div class="right">
        <h1>Global Space Balloon Challenge</h1>
        <h3>An international education outreach project to encourage people from around the world to build and launch their own high-altitude balloon science experiments.</h3>
        <% if !current_user %>
            <%= link_to "I've flown a high-altitude balloon", new_user_session_path, class: 'btn callToAction' %>
            <%= link_to "What is a high-altitude balloon?", about_path, class: 'btn callToAction' %>
        <% elsif current_user and current_user.team.nil? %>
            <%= link_to "View teams", teams_path, class: 'btn callToAction' %>
            <%= link_to "Create a team", new_team_path, class: 'btn callToAction' %>
        <% elsif current_user and !current_user.team.nil? %>
            <a href="http://community.balloonchallenge.org" class="btn callToAction">Community</a>
            <%= link_to "Tutorials", tutorials_path, class: 'btn callToAction'%>
        <% end %>
    </div>
</div>
<div class="affiliates section">
    <div class="main threeContainer">
        <div class="stanford three">
            <%= image_tag("universities/stanford.gif") %>
        </div>
        <div class="mit three">
            <%= image_tag("universities/mit.png") %>
        </div>
        <div class="umich three">
            <%= image_tag("universities/umich.gif") %>
        </div>
    </div>
    <div class="threeVerticalContainer">
        <div class="sponsors threeVertical">
            <h3 class="title">Sponsors</h3>
            <ul>
                <li><img src="http://placehold.it/300"></li>
                <li><img src="http://placehold.it/300"></li>
                <li><img src="http://placehold.it/300"></li>
            </ul>
        </div>
        <div class="referenceTools threeVertical">
            <h3 class="title">Reference Tools</h3>
            <ul>
                <li><img src="http://placehold.it/300"></li>
                <li><img src="http://placehold.it/300"></li>
                <li><img src="http://placehold.it/300"></li>
            </ul>
        </div>
        <div class="judgesMarketing threeVertical">
            <h3 class="title">Judges/Marketing</h3>
            <ul>
                <li><img src="http://placehold.it/300"></li>
                <li><img src="http://placehold.it/300"></li>
                <li><img src="http://placehold.it/300"></li>
            </ul>
        </div>
    </div>
</div>
