<% title "Home" %>
<div class="hero section cta">
    <div class="left">
        <div class="embed-container">
            <img src="http://placehold.it/1280x720/&text=Video+Here">
        </div>
    </div>
    <div class="right">
        <h1>Global Space Balloon Challenge</h1>
        <h3>The largest international high altitude balloon event with a focus on education and innovation.</h3>
        <% if !current_user %>
            <%= link_to "Learn More: I've flown a high-altitude balloon", new_user_session_path, class: 'btn callToAction' %>
            <%= link_to "Learn More: What is a high-altitude balloon?", about_path, class: 'btn callToAction' %>
        <% elsif current_user and current_user.team.nil? %>
            <%= link_to "View teams", teams_path, class: 'btn callToAction' %>
            <%= link_to "Create a team", new_team_path, class: 'btn callToAction' %>
        <% elsif current_user and !current_user.team.nil? %>
            <a href="http://community.balloonchallenge.org" class="btn callToAction">Community</a>
            <%= link_to "Tutorials", tutorials_path, class: 'btn callToAction'%>
        <% end %>
    </div>
</div>
<div class="affiliates section">
    <div id="map">
    </div>
</div>
