<% title "Your account" %>
<div class="primary section">

    <div class="content">
    <div class="underline smaller">
        <h1>Your Account</h1>
        <div class="team_buttons">
            <% if current_user.team.nil? %>
                <h3>You are not part of a team!</h3>
                <%= link_to 'Create a team', {controller: 'teams', action: 'new'}, class: 'btn inline' %>
                <%= link_to 'See teams', {controller: 'teams', action: 'index'}, class: 'btn inline'%>
                <hr>
            <%else%>
                Your Team: <%= link_to current_user.team do %><%= current_user.team.name %><% if current_user.team.school %> - <%= current_user.team.school %><% end %> - <%= current_user.team.city %><% if current_user.team.state_code %>, <%=current_user.team.state_code%><% end %>, <%= Carmen::Country.coded(current_user.team.country_code).name %><% end %>
            <%end%>
        </div>
        <div class="info_buttons">
            <%= link_to 'Rules', get_involved_path, class: 'btn inline' %>
            <%= link_to 'Tutorials', tutorials_path, class: 'btn inline' %>
            <%= link_to 'See who else is invovled', teams_path, class: 'btn inline'  %>
        </div>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %>
        <%= f.email_field :email, autofocus: true %></div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div><%= f.label :name %><i>(leave blank if you don't want to change it, 8 character minimum)</i><br/>
        <%= f.text_field :name %></div>
        <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "off" %></div>

        <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

        <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "off" %></div>

        <div><%= f.submit "Update" %></div>
    <% end %>

    <%= link_to "Back", :back %>
    </div>
</div>
