<h1 class="underline">Sign Up</h1>
<div class="content">
    <%= render "devise/shared/links" %> <br>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %>
        <%= f.email_field :email, autofocus: true %></div>

        <div><%= f.label :name %>
        <%= f.text_field :name %></div>
        
        <div><%= f.check_box :pastlaunch%> I have launched a High Altitude Balloon before (<em>not</em> required)</div><br />
        <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><br/><% end %>
        <%= f.password_field :password, autocomplete: "off" %></div>

        <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
        
        <div><input type="checkbox" required> I have read and agree to the <a href="/terms_and_conditions.pdf" target="_blank">Terms and Conditions</a></div>

        <div><%= f.submit "Sign up" %></div>
    <% end %>
</div>