<!DOCTYPE html>
<html>
<head>
  <title>GSBC - <%= yield(:title) || "Home"%></title>
  <meta name="viewport" content="initial-viewport=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <div class="content">
            <div class="logo">
                <a href="/">
                    <img src="/assets/gsbc.png">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/tutorials">Tutorials</a></li>
                    <li><a href="/faq">FAQs</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <%= yield %>
    </div>
    <footer>
        <p>&copy; 2014 Global Space Balloon Challenge. All Rights Reserved.</p>
    </footer>
<!-- Need more serious flash alerts -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
<%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
<%= link_to 'My Account', edit_user_registration_path %>
<% else %>
<%= link_to 'Sign in', new_user_session_path %>
<%end%>
</body>
</html>
