<!DOCTYPE html>
<html>
<head>
  <title>GSBC - <%= yield(:title) || "Home"%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/assets/images/gsbc.png">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
                <li><a href="/faq">FAQs</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <%= yield %>
    </div>
    <footer>
        <p>&copy; 2014 Global Space Balloon Challenge. All Rights Reserved.</p>
    </footer>
</body>
</html>
